body {
  font-family: Arial, sans-serif;
  /* text-align: center; */
  background-color: #f4f4f9;
}

#quiz-container {
  width: 50%;
  text-align: center;
  margin: 100px auto;
  padding: 20px;
  background-color: #227b94;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 3em;
  color: White;
  text-align: center;
}

#question-container {
  margin-bottom: 20px;
}

#choices {
  list-style-type: none;
  padding: 0;
}

#choices li {
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  margin-left: 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

#score-container {
  font-size: 1.5em;
  color: green;
}
/* Centering the score container */
#scoreContainer {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/* Styling the success message */
.score-message.success {
  color: #2ecc71;
  font-size: 24px;
  line-height: 1.6;
}

/* Styling the fail message */
.score-message.fail {
  color: #e74c3c; /* Red for failure */
  font-size: 24px;
  line-height: 1.6;
}

/* Common styling for score details */
.score-details {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

/* Adding some icon styles */
.score-message strong {
  font-size: 28px;
}
